{{#if r.info.brief}}
<details id="about" class="detail" open>
    <summary>
        <div class="icon"><i class="fs-lg fa fa-user" aria-hidden="true"></i><span class="mobile-title">About</span></div>
        <div class="info">
            <h4 class="title text-uppercase">About</h4>
        </div>
    </summary>
    <div class="info">
        <div class="card card-nested">
            <div itemprop="description" class="content mop-wrapper">
                <p>{{{r.info.brief}}}</p>
            </div>
        </div>
    </div>
</details>
{{/if}}
