<details id="skills" class="detail" open>
  <summary>
    <div class="icon"><i class="fs-lg fa fa-cogs"></i><span class="mobile-title">Skills</span></div>
    <div class="info">
      <h4 class="title text-uppercase">Skills</h4>
    </div>
  </summary>
  <div class="info">
    <div class="content">
      <ul class="list-unstyled">
        {{#each r.skills.sets}}
        <li class="card card-nested card-skills">
          <div class="skill-info"><strong>{{name}}</strong>
            <div class="space-top labels">
              {{#each skills}}
              <span rel="tooltip" title="{{summary}}" class="btn label label-keyword" skill="{{name}}"
                onclick="show_keyword('{{name}}')">
                {{name}} ({{level}})
              </span>
              {{/each}}
            </div>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</details>